
1: mengajukan peminjaman
2: di pinjam
3: setujui
4: tolak

status
1 
2
3 kadin dan sekretaris


Revisi dari bu Nita : 1. Ubah tulisan dinas pemuda dan olahraga provinsi sumsel ditampilan awal menjadi "Dinas Pemuda dan Olahraga Provinsi Sumatera Selatan"
2. Untuk tgl jgn di iinput tapi misal di klik langsung muncul kalender jadi otomatis

Revisi dari bu Desi : 1. Tambahkan keterangan waktu pada perbaikan(inventory status in refair) dan pada peminjaman. Mulai dari tgl berpa / hingga tgl berapa

Revisi dari bu Rika : 1. Tambahkan Nama peminjam, tgl peminjaman, tgl pengembalian, dan kondisi barang saat di pinjam dan dikembalikan pada laporan

Revisi dari pak soni : blum diuji..